/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Example import statement in your CSS file */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import 'tailwindcss/colors'; */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

/* body {
    background-color: #f0a8f0;
    background-color: grey;
} */